.send {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.send input {
    border: 1px solid #DFE0E2;
    padding: 0.5rem;
    border-radius: 4px; 
    margin: 8px 4px;
    }

.send button {
    background: #0077b6;
    color: white;
    border: none;
    padding: 0.4rem 5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.send button:hover {
    background: #025784;

}